/* App {
  font-family: "Nobel Light", "Nobel Light", sans-serif;
} */
/* .App-header {
  text-align: center;
  color: rgb(26, 26, 26);
  font-size: 30px;
  margin-top: 3rem;
} */

/* .landing_Image {
  margin-left: 0;
  margin-right: 0;
} */
html,
body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
.landing_Container {
  color: rgb(99, 96, 96);
  text-align: left;
  /* margin-top: 2rem; */
  font-size: 20px;
}
.landing_Image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.landing_Image p {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: rgb(116, 108, 108);
  /* text-align: left; */
}
img {
  width: 100%;
  /* display: fix; */

  /* max-height: 100%; */
}
hr {
  width: 100%;
  /* position: relative; */
  /* bottom: 0; */
  border: 0.1px solid rgb(239, 234, 234);

  margin: 6rem auto 1rem auto;
  justify-self: center;
}
.copyright {
  /* margin-top: 4rem; */
  margin-bottom: 2rem;
}
.copyright p {
  color: rgb(8, 1, 1);
}
.left p {
  text-align: left;
  font-size: 0.8rem;
  float: left;
}

.right p {
  font-size: 0.9rem;
}
.right {
  display: flex;
  float: right;
  text-align: right;
}
.right .fab {
  padding: 4px;
  font-size: 0.9rem;
}

.footertext {
  margin-bottom: 2rem;
}
/* @media screen and (max-width: 960px) {
  .landing_Container {
    margin-top: 5rem;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .landing_Image p {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
} */
@media screen and (max-width: 768px) {
  /* .copyright {

    margin-top: 10rem;
  } */
  /* .copyright p {
    color: rgb(8, 1, 1);
  } */
  hr {
    margin: 9rem auto 2rem auto;
  }
  .footertext {
    margin-bottom: 3rem;
  }
}
