.landing_Container {
  color: rgb(99, 96, 96);
  text-align: left;
  font-size: 20px;
  margin-top: 1.5rem;
}
.landing_Image {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.landing_Image p {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: rgb(116, 108, 108);
}
.landing_Image img {
  max-width: 100%;
}
.quotePeace {
  text-align: center;
  margin-top: 2rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12rem;
}
.quotePeace p {
  color: rgb(97, 94, 94);
  margin-top: 2rem;
}

/* Nature quote */
.quotes {
  text-align: center;
  margin-top: 2rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.quotes p {
  color: rgb(97, 94, 94);
  margin-top: 2rem;
}

/* Nature quote */
