.landing_Container {
  color: rgb(99, 96, 96);
  text-align: left;
  font-size: 20px;
  margin-top: 1.5rem;
}
.landing_Image {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.landing_Image p {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: rgb(116, 108, 108);
}
.landing_Image img {
  max-width: 100%;
}
