* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  outline: 0;
}
.natureContainer {
  display: flex;
  justify-content: center;
}
/* Position the image container (needed to position the left and right arrows) */
.containernature {
  position: relative;
  /* margin-top: 2rem; */
  width: 95%;
 
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
  background-color: rgb(242, 244, 241);
 height: 500px; 
}
.mySlides img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  max-width: 100%;
  max-height: 100%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.contactnote {
  position: absolute;
  top: 25%;
  width: 100%;
  /* margin-left: 3rem;
  margin-right:3rem; */
  font-size: 1rem;
}
p > a {
  color: blue;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 85%;
  width: auto;
  /* margin-top: -40px; */
  color: white;
  font-weight: bold;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
.prev {
  left: 0;
}

button {
  border: none;
  height: 4rem;
  background-color: Transparent;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: white;
  color: black;
}



/* Container for image text */

#caption {
  width: 45%;
  text-align: center;
  /* background-color: #222;
  padding: 7px 16px;
  color: white; */
  color: black;
  font-size: 1.5rem;

  margin: 2rem;
  margin-right: auto;
  margin-left: auto;
}


.row {
  background-color: rgb(227, 223, 223);
  background-color: black;  /* max-height: 150px; */
}
.row {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  /* float: left;
  width: 25%; */
  margin-right: 5px;
}
.column:last-child {
  margin-right: 0px;
}
.column img {
  max-width: 100%;
  max-height: 9rem;

  text-align: center;

  vertical-align: middle;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.footerdescription {
  margin-top: 5rem;
}
.copyright{
  width:95%;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:5rem;
}

 /* @media screen and (max-width: 960px) {
  .column img {
    max-height: 7rem;
  }
  
}  */
@media screen and (max-width: 768px) {
  .mySlides {
   height: 350px; 
  }
  .prev,
  .next {
    top:87%;
    font-size: 20px;
  }
  button {
  
    height: 3rem;
  }
  .column img {
    max-height: 7rem;
  }
  .copyright{
    width:90%;
    /* margin-right:auto;
    margin-left:auto;
    margin-bottom:5rem; */
  }
}

/* @media screen and (max-width: 768px) {
  .menu-icon {
    font-size: calc(10px + 3vmin); 
    top: 2rem;
  }
  .nav-menu.active {
    top: 5rem;
  }
  .fa-times {
    font-size: calc(10px + 3vmin);
  }
  .fa-times {
    font-size: calc(10px + 3vmin);
  }
    .appheader p {
     font-size: calc(10px + 3vmin); 
      margin-top: 10%;
    }
} */