/* .App {
  font-family: "Nobel Light", "Nobel Light", sans-serif;
}
.App-header p {
  text-align: center;
  color: rgb(26, 26, 26);
  font-size: 30px;
  margin-top: 3rem;
} */
/* new style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
.appheader p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: rgb(12, 12, 12);
  margin-top: 2rem;
  font-family: "Nobel Book", "san-serif";
}
/* .appheader p {
  font-family: "Nobel Book", "Nobel Book", sans-serif;
  text-align: center;
  /* color: #b32727; */
/* font-size: 36px;
  margin-top: 3rem; */

/* }  */
/*
.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .home,
.portraits,
.about,
.contact,
.nature,
.florals,
.birdanimal,
.commissions {
  display: flex;
  /* height: 90vh; */
/* align-items: center;
  justify-content: center;
  font-size: 3rem;
} */
@media screen and (max-width: 768px) {
  .appheader p {
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: left; */
    /* font-size: calc(10px + 2vmin); */
    color: rgb(12, 12, 12);
    /* position: absolute; */
    text-align: left;
    /* top: 3; */
    font-size: calc(10px + 3vmin);

    margin-top: 1rem;
  }
}
