/* .App {
  font-family: "Nobel Light", "Nobel Light", sans-serif;
}
.App-header p {
  text-align: center;
  color: rgb(26, 26, 26);
  font-size: 30px;
  margin-top: 3rem;
} */
/* new style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* html,
body {
  overflow-x: hidden;
} */

/* .appheader p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: rgb(12, 12, 12);
  margin-top: 2rem;
  font-family: "Nobel Book", "san-serif";
} */

.stellaimg {
  width: 90%;
  margin-left: 1rem;
}
h2 {
  margin-top: 1rem;
  text-align: center;
}
.image-box {
  margin-top: 1rem;
}
.image-box img {
  width: 40%;
  float: left;
  margin-right: 1rem;
}
.image-box p {
  width: 30%;
  text-align: justify;
  font-size: 20px;
  text-align-last: justify;
}

#exhibitionNote {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .image-box img {
    width: 40%;
  }
  
}
