* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.stellaimg {
  width: 90%;
  margin-left: 1rem;
}
h2 {
  margin-top: 1rem;
  text-align: center;
}
.image-box {
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}
.image-box img {
  width: 40%;
  float: left;
  margin-right: 1rem;
}
.image-box p {
  width: 30%;
  /* text-align: justify; */
  font-size: 20px;
  /* text-align-last: justify; */
}

#exhibitionNote {
  margin-top: 1rem;
}

.quotePeace {
  text-align: center;
  margin-top: 2rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12rem;
}
.quotePeace p {
  color: rgb(97, 94, 94);
  margin-top: 2rem;
  font-size: 18px;
  font-style: italic;
}

/* Nature quote */
.quotes {
  text-align: center;
  margin-top: 2rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.quotes p {
  color: rgb(97, 94, 94);
  margin-top: 2rem;
  font-size: 16px;
  font-style: italic;
}
h3 {
  color: rgb(99, 96, 96);
  font-size: 20px;
}
/* Lazy loader */
.container-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* background: #292970; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.flex {
  min-height: 60pt;
}

@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
  25% {
    height: 4pt;
    margin-top: 23pt;
  }
  50% {
    width: 4pt;
  }
  75% {
    width: 50pt;
  }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

.loader {
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: #6767fa 4pt solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  animation: loading 1s infinite;
}

.load-text {
  padding-top: 15px;
  text-align: center;
  font: 14pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: lighten(#6767fa, 75%);
}

@media screen and (max-width: 768px) {
  .image-box img {
    width: 40%;
  }
  .quotePeace h3,
  .quote h3 {
    font-size: 17px;
  }
  .quotePeace,
  .quote {
    width: 80%;
    font-size: 16px;
  }
}
